body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.first-container h1 {
  font-size: 50px;
  padding-left: 20px;
}
.first-container h2 {
  font-size: 40px;
  margin-left: 20px;
}
.name-color {
  color: #ffa500;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.first-container {
  width: 50%;
  padding-left: 2%;
}
.first-container img {
  width: 80%;
  padding-top: 20px;
}
.first-container p {
  padding-left: 20px;
  align-items: justify;
}
.first-container h3 {
  padding-left: 20px;
}
.first-container a {
  text-decoration: none;

  margin-left: 20px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
  background-image: linear-gradient(#ff936f, #ff7153);
  border: none;
  border-radius: 5px;
}

.second-container {
  width: 50%;
  padding-left: 2%;
}
.second-container h1 {
  font-size: 40px;
}
.second-container p {
  padding-top: 20px;
}

.second-container img {
  width: 80%;
}
.second-container a {
  text-decoration: none;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
  color: #fff;
  background-image: linear-gradient(#ff936f, #ff7153);
  border: none;
  border-radius: 5px;
}
#third {
  font-size: 20px;
}

#ex1 {
  box-shadow: 10px 10px 40px gray;

  margin: 10px 30px;
  border-left: 7px solid #ff7153;
}
#ex2 {
  box-shadow: 10px 10px 40px gray;
  width: 50%;
  height: 70%;

  border-left: 7px solid blue;
  margin-top: 13px;
}
.h3 {
  color: #ff7153;
}

.exp-sec {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  background-image: url("/Portfolio/Images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: -0.1em;
}
.container {
  width: 50%;
  box-shadow: 10px 10px 40px gray;
  margin: 0 55px;
  height: 55vh;
  padding: 10px 20px;
  border-left: 7px solid;
  border-image: linear-gradient(orange, tomato);
  border-image-slice: 1;
}
.container2 {
  width: 50%;
  box-shadow: 10px 10px 40px gray;
  margin: 0 20px;
  height: 55vh;
  padding: 10px 20px;
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 2;
}
.exp-sec h3 {
  color: #ff936f;
  padding-left: 20px;
}
.exp-sec p {
  color: gray;
  padding-left: 20px;
  padding-right: 20px;
}
.exp-sec h1 {
  font-size: 40px;
}
.ex-sec h1 {
  font-size: 40px;
  margin-left: 20px;
}

footer p {
  text-align: center;
  color: gray;
}
